spring:
  application:
    name: guitteum-backend

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    encoding: UTF-8
    validate-on-migrate: true

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

server:
  port: 8080

logging:
  level:
    root: INFO
    com.guitteum: DEBUG
