spring:
  datasource:
    url: jdbc:mysql://localhost:3306/guitteum?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${MYSQL_USER:guitteum}
    password: ${MYSQL_PASSWORD:guitteum}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.flywaydb: DEBUG
